html, body {
    background-color: #fff;
    background-image: url("../img/fondito.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    color: blue;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}
/*cambiar los colors de inicio de seesion*/
.links > a {
    color: blue;
    padding: 0 25px;
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
